<div class="row mt-4">
  <div class="col-md-3">
    <ul class="list-group sticky-top">
      <li class="list-group-item">Technology</li>
      <li class="list-group-item">Music</li>
      <li class="list-group-item">Football</li>
    </ul>
  </div>

  <div class="col-md-6 mb-5">
    <app-loading [show]="isLoading"></app-loading>
    <a (click)="goBack()" class="btn btn-outline-dark mb-3"> Go Back </a>
    <div class="" *ngIf="blog">
      <div>
        <img src="/assets/angular-image.png" class="img-fluid" />
      </div>
      <h2>{{ blog.title }}</h2>
      <div>
        {{ blog.content }}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card sticky-top">
      <div class="card-img-top">
        <img src="/assets/default-image.jpeg" class="w-100 h-50" />
      </div>
    </div>
  </div>
</div>
